body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            background-image : url(https://media.istockphoto.com/id/839929126/photo/blue-backdrop-in-the-air.jpg?s=612x612&w=0&k=20&c=3Yl5ppofMcuLD6fiVkGcM6TqAdhrXNj4szLsHMiuoQw=);
            background-position: center;
            color: black;
        }

h1{
    font-family: "Audiowide",sans-serif;
    text-align: center;
    text-decoration: underline;
}
img{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
}
figure{
    text-align: center;
}
.head{
    background-color: rgb(198, 51, 51);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}