body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 400px;
}
.container h1 {
    text-align: center;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
    
}
button:hover {
    color : red;
    background : dodgerblue;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1f1f1f;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
}
